body {
  background-color: #000;
}

a {
  color: #ddd;
}

a:hover {
  color: #41aaaa;
}

.jt_blue {
  color: #44aedf;
}

.jt_green {
  color: #8dc63f;
}

.jt_lime {
  color: #c0ffc0;
}

.jt_olive {
  color: olive;
}

.jt_orange {
  color: #f7941c;
}

.jt_pink {
  color: #f49ac1;
}

.jt_red {
  color: #f00;
}

.jt_spoiler {
  background-color: #383838;
  color: #383838;
  cursor: help;
}

.jt_strike {
  text-decoration: line-through;
}

.jt_yellow {
  color: #ffde00;
}